/* Keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade-in {
    animation: fadeIn ease-in 1;
    animation-duration: 0.3s;

    > * {
        display: block;
    }
}

.fade-out {
    animation: fadeOut ease-out 1;
    animation-duration: 0.3s;

    > * {
        display: none;
    }
}