.popup-backdrop {
    position: 'fixed';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px;
    transition: opacity 0.6s;
    pointer-events: none;
    background-color: transparent;
    opacity: 0;
    z-index: 999;

    &.show {
        pointer-events: auto;
        opacity: 1;
        background-color: rgba(42, 48, 82, 0.96);
    }
}

.popup {
    position: relative;
    background: $COLOR_WHITE;
    border-radius: 4px;
    max-width: 500px;
    min-height: 300px;
    margin: 0 auto;
    transition: all 0.25s;
    transform: translateY(-100%);

    &.show {
        transform: none;
    }
    .popup-title {
        padding: 24px 30px 0;
        font-weight: 400;
        font-size: 1.25rem;
    }
    .popup-content {
        font-weight: 300;
        font-size: 1rem;
        padding: 16px 24px 0;
    }
    .popup-close {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
    }
    .popup-footer {
        position: absolute;
        bottom: -5px;
        right: 0;
    }
}
